* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: arial;
  color: #333;
}

p {
  color: #333;
  line-height: 20px;
  font-size: 11px;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  margin-bottom: 8px;
}

:root {
  --primary: #128CCD;
  --secondary: #1B4472;
  --body: #E2E2E2;
  --blackGray: #4D4D4D;
}

.container {
  width: 550px;
  margin: 1rem auto;
  padding: 1rem;
  -webkit-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.719);
          box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.719);
  position: relative;
  overflow: hidden;
}

.container .container_design {
  position: absolute;
}

.container .container_design:nth-of-type(1) {
  width: 80%;
  height: 30%;
  z-index: -1;
  border: 150px solid var(--primary);
  /* border-top-color: transparent; */
  border-right-color: transparent;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  top: -16%;
  left: -23%;
}

.container .container_design:nth-of-type(2) {
  width: 80%;
  height: 30%;
  z-index: -1;
  border: 150px solid var(--secondary);
  /* border-top-color: transparent; */
  border-right-color: transparent;
  -webkit-transform: rotate(-67deg);
          transform: rotate(-67deg);
  top: -33%;
  right: -32%;
}

.container .container_design:nth-of-type(4) {
  width: 80%;
  height: 30%;
  z-index: -1;
  border: 150px solid var(--secondary);
  /* border-top-color: transparent; */
  border-left-color: transparent;
  -webkit-transform: rotate(-67deg);
          transform: rotate(-67deg);
  bottom: -33%;
  left: -32%;
}

.row_wrapper {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.185);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.185);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top_row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.top_row #man_logo {
  border-radius: 50%;
  display: block;
  width: 150px;
  height: 150px;
}

.top_row .man_info {
  text-align: center;
}

.top_row .man_info h4, .top_row .man_info h1 {
  margin: 0;
  padding: 0;
}

.top_row .man_info h1 {
  color: var(--blackGray);
  font-size: 2.5rem;
}

.row_main_section {
  padding: 1rem;
}

.row_main_section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.row_main_section ul i {
  color: var(--primary);
  padding: 5px;
  margin-right: 8px;
}

.row_main_section ul li:nth-of-type(1) i {
  background: var(--primary);
  color: #fff;
  border-radius: 50%;
}

.row_main_section ul li {
  padding-bottom: 5px;
}

.row_main_section h3 {
  color: var(--primary);
}

.row_main_section h5 {
  margin: 0;
  padding: 0;
  margin-bottom: 3px;
}

.row_main_section .col_main {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 .5rem;
}

.row_main_section .col_main:first-child {
  padding-right: 1.5rem;
  border-right: 2px solid var(--blackGray);
}

.row_main_section .col_main:last-child {
  padding-left: 1.5rem;
}

.row_main_section .col_main .col_item {
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row_main_section .col_main .col_item i {
  color: var(--primary);
  margin: 0  4px;
}
/*# sourceMappingURL=style.css.map */